
.gallery {
  border: 5px solid red;
  width: 50%;
}

img {
  width: 100%;
  border: 5px solid blue;
  padding: 5px;
}
.header{text-align:center;
text-transform:uppercase;
padding:32px;
background-color:#0a0a23;
color:#fff;
border-bottom:4px solid #fdb347;}
